@use "./base.scss";

// put your custom CSS here!
.center article {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

// Fix bold text in callouts
.callout-content strong {
  font-weight: bold !important;
}
